<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKY TECH - RICK | Online shopping site | Yhills</title>
    <link rel="stylesheet" href="/files/css/Home.css">
    <link rel="shortcut icon"href="/files/img/GSB_logo.png" type="image/x-icon">

</head>
<body>
    <header>
        <h1><a href="/">SKY TECH - RICK</a></h1>
        <p id="Header_P">Online shopping site for India only. <br>Welcome to "SKY TECH - RICK" online platform</p>
    </header>

    <nav>
        <ul>
            <li class="Nav"><a id="Nav_Home" class="NavA" href="/">Home</a></li>
            <li class="Nav"><a class="NavA" href="/service">Service</a></li>
            <li class="Nav"><a class="NavA" href="/contact">Contact</a></li>
            <li class="Nav"><a class="NavA" href="/help">Help</a></li>
            <li class="Nav"><a class="NavA" href="/signup">Signup</a></li>
        </ul>
    </nav>

    <section>



    <h1>THIS IS HOME PAGE</h1>

    <p>As Home page is not required for the project, my main focus is Login/Signup pages and MySQL <br> Read my readme.txt file for more info <br> GO TO SIGNUP</p>
    
    
    </section>

    <footer>Copyright &copy; All rights reserved</footer>

</body>
</html>