<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKY TECH - RICK | Online shopping site | Yhills</title>
    <link rel="stylesheet" href="/files/css/Home.css">
    <link rel="stylesheet" href="/files/css/Login.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    
    <link rel="shortcut icon"href="/files/img/GSB_logo.png" type="image/x-icon">


</head>
<body>
    <header>
        <h1><a href="/">SKY TECH - RICK</a></h1>
        <p id="Header_P">Online shopping site for India only. <br>Welcome to "SKY TECH - RICK" online platform</p>
    </header>

    <!-- <center><h2>LOGIN</h2></center> -->

    <!-- <form action="/login" method="post"> -->
    <br><br><br><br><br><br>

     
    <div class="container">
        <div id="Login">
            <img src="/files/img/Login_BackGround1.jpg" alt="No_Img">
        </div>
        
        <div id="Login_Side">
            <div id="heading">SKY-TECH-RICK</div>
            <div id="As_Login">Login</div>
            <form action="/login" method="post">
                <p id="Welcome">Welcome to our online shopping site</p>
                <div id="Selection">
                    <label id="Email_Label" for="Mobile">Mobile</label>
                    //- <label id="Mobile_Label" for="Mobile_Number">Mobile</label>
                </div>

                <!-- <div id="Email_Top">Email:</div> -->

                <div id="User_Login">
                    <span class="material-symbols-outlined" id="Span_Person">person</span>
                    <input maxlength="10" title="Mobile" type="text" id="Mobile" name="Mobile" placeholder="Mobile number" autocomplete="off" spellcheck="false" autofocus>
                </div>
                <p id="User_Login_P">Enter your Mobile number</p>
                <div id="User_Password">
                    <span class="material-symbols-outlined" id="Span_Password">lock</span>
                    <input title="Password" type="password" id="Password" name="Password" placeholder="Password" autocomplete="off" spellcheck="false">
                </div>

                <p id="User_Password_P">Enter your password</p>
                <div id="SUBMIT__B">
                    <button id="Submit_Button" title="Login" type="button" onclick="Login_Submit();">Login</button>
                </div>
                <a id="forgot_passowrd" href="/forgot_passowrd">Forgot password?</a>
                <div id="OR">or</div>
                <a href="/signup" id="Donothaveaaccount">Don't have a account?</a>
                <a href="/" id="Terms">Home</a>
            </form>
        </div>
    </div>
    </form>


    <footer>Copyright &copy; All rights reserved</footer>

    <script src="/files/js/Login.js"></script>

</body>
</html>