<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfully Login</title>
    
    <link rel="shortcut icon"href="/files/img/GSB_logo.png" type="image/x-icon">
</head>
<body>
    <h1>
    |   Login Successfully _redirecting to the Home page within 5 seconds_
    </h1>
    <a href="/">Home</a>
    

    <script src="/files/js/Successfully_Login.js"></script>
</body>
</html>